#filterFormAcc{
    margin: 1rem;
}
#filterFormAcc div{
    display: inline-block;
    vertical-align: middle;
}
#filterFormAcc select {
    padding: 0.5rem;
    font-size: 1rem;
    vertical-align: middle;
    text-align: center;
    margin: 0.2rem 1rem;
    background-color: bisque;
}
#filterFormAcc label {
    font-size: 1.1rem;
    font-weight: 600;
}
#clearFilterAccessories, input[type="submit"]{ 
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 0.2rem;
    background-color:  #f5a7a7;
    border: #f5a7a7 solid 1px;
}
#accessoriesDiv div img{
    width: 15rem;
    height: 15rem;
}
#accessoriesImages div{
    display:inline-block;
    margin: 1.5rem;
    border: #f5a7a7 solid 0.2rem;
    padding-bottom: 0.1rem;
}
#accessoriesDiv button{
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
}