#personalInfo {
  margin: 0.5rem;
}

#personalInfo label, #personalInfo input {
  width: 12rem;
  display: inline-block;
  margin: 0.5rem 1rem;
}

#personalInfo input#review{
  height: 2.8rem;
}
#personalInfo input[type="submit"] {
  font-size: 1.2rem;
  width: 5rem;
  border-radius: 0.5rem;
  background-color: #82c4c3;
  border: #7ec0be 0.2rem solid;
  color: #fff5f5;
}
#personalInfo input[type="submit"]:hover, #personalInfo input[type="submit"]:active{
  background-color: #f9d89c;
  border: #f5d190 solid 0.2rem;
}

table img{
  width: 6rem;
}

table{
  margin: auto;
  background-image: radial-gradient( #fff5f5, #fff9f9);
}

td, th{
  vertical-align: middle;
  padding: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th{
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td button{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.5rem;
}