#personalInfo {
  margin: 0.5rem;
  width: 37rem;
  margin: 1.5rem auto;
}

#personalInfo label, #personalInfo input {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.2rem 0;
}

#personalInfo label {
  width: 10rem;
  font-size: 1.2rem;
  text-align: left;
}

#personalInfo input:nth-of-type(1), #personalInfo input:nth-of-type(2), #personalInfo input:nth-of-type(3), #personalInfo input:nth-of-type(4) {
  width: 24rem;
  background-color: #fff9ee;
  border: #856f46 1px solid;
  border-radius: 0.5rem;
}

#personalInfo input#review {
  height: 3.5rem;
}

input[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #82c4c3;
  border: #7ec0be 0.2rem solid;
  color: #ffffff;
}

input[type="submit"]:hover, input[type="submit"]:active {
  background-color: #f9d89c;
  border: #f5d190 solid 0.2rem;
}

table img {
  width: 6rem;
}

table {
  width: 40rem;
  margin: auto;
  background-image: radial-gradient( #fff5f5, #fff9f9);
}

td, th {
  vertical-align: middle;
  padding: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td button {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.5rem;
}