
    #petsImages img {
        height: 85%;
        width: 85%;

        position: static;

    }
    

    #petsImages div {
        display: inline-block;
        margin: 3%;
        width: 18%;
        position: relative;
        columns: 100em;
    }

    #petsImages {
        position: absolute;

        text-align: center;

    }
